:root {
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor01);
}

main {
    font-size: 18px;
    margin: 30px;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    margin-bottom: 170px;
    text-shadow: 2px 2px 2px var(--cor03);
}

footer {
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: solid 10px var(--cor04);
    align-items: center;
    justify-content: center;
}

ul li {
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: var(--cor04);
    margin: 0 10px;
    border-radius: 50%;
    animation: jumping 1s linear infinite;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0);
    }
}

ul li:nth-child(1) {
    animation-delay: 0.45s;
}

ul li:nth-child(2) {
    animation-delay: 0.6s;
}

ul li:nth-child(3) {
    animation-delay: 0.3s;
}

ul li:nth-child(4) {
    animation-delay: 0s;
}

ul li:nth-child(5) {
    animation-delay: 0.1s;
}